@import "../../../colors";

.app-arbitrage-list-item {
    display: flex;
    flex-flow: row;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 18px;
    border: solid 1px #705618;
    background-image: linear-gradient(310deg, #2e2204 32%, transparent);
    white-space: nowrap;

    > div {
        width: 100%;
        padding-left: 15px;
        padding-right: 15px;
    }

    // >div{
    //     &:first-child{
    //         width: 220px;
    //     }

    //     width: 180px;
    //     display: inline-block;
    // }
}
