@import "../../_colors";

.app-nav-overlay {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 100vw;
  z-index: 1;
  visibility: hidden;

  &.active {
    visibility: visible;
  }
}

.app-nav {
  @media screen and (min-width: 720px) and (max-width: 1024px) {
    max-width: 400px;
  }

  *:not(.overlay) {
    position: relative;
    z-index: 3;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;

    li {
      list-style: none;
      padding: 8px 0;

      a {
        color: #fff;
        opacity: 0.5;
        &.active {
          opacity: 1;
        }
        &[disabled] {
          pointer-events: none;
        }

        img {
          width: 30px;
          height: 30px;
          object-fit: contain;
        }
      }
    }
  }

  @media screen and(max-width: 720px) {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    padding: 30px;
    width: 70vw;
    z-index: 100;
    background-image: linear-gradient(#000, $primary);
    transform: translateX(-70vw);
    transition: transform 300ms;

    &.active {
      transform: translateX(0);
    }
  }
}
