@import "../../../colors";

.app-table-container {
    max-height: calc(100vh - 260px);
    table {
        border-collapse: separate;
        border-spacing: 0 10px;
        min-width: 100%;
        
        thead {
            tr {
                td,
                th {
                    text-align: center;
                }
            }
        }
        tbody {
            tr {
                background-image: linear-gradient(310deg, #2e2204 32%, transparent);

                td {
                    border-top: solid 1px #705618;
                    border-bottom: solid 1px #705618;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    min-width: 100px;
                    text-align: center;

                    &:first-child {
                        border-left: solid 1px #705618;
                        min-width: 180px;
                        padding-left: 15px;
                        text-align: start;
                        border-top-left-radius: 18px;
                        border-bottom-left-radius: 18px;
                    }

                    &:last-child {
                        border-right: solid 1px #705618;
                        padding-right: 15px;
                        border-top-right-radius: 18px;
                        border-bottom-right-radius: 18px;
                    }

                    @media screen and (max-width: 1024px) {
                        &:first-child {
                            min-width: 180px;
                        }

                        min-width: 100px;
                    }
                }
            }
        }
    }
}
