@import "_colors";

/* make the customizations */
// $theme-colors: (
//     "info": tomato,
//     "danger": teal
// );

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1366px,
    xxl: 1600px,
    xxxl: 1920px,
);

$container-max-widths: (
    sm: 540px,
    md: 720px,
    lg: 960px,
    xl: 1280px,
    xxl: 1400px,
    xxxl: 1800px,
);

$green: #1de9b6 !default;
$red: red !default;
$yellow: #b9953d;

$dropdown-dark-bg: $primary;

$tooltip-bg: $primary !default;
$font-family-sans-serif: "DM Sans", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans",
    "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
/* import bootstrap to set changes */
@import "~bootstrap/scss/bootstrap";

html,
body {
    min-height: 100%;
}

body {
    background: url("./bg-pattern.png"), linear-gradient(#000, $primary);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center bottom;
    background-attachment: fixed;
    color: #fff;
}

a,
a:hover,
a:visited,
a:focus,
a:active {
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: rgba($border-color, 0.8);
    border-radius: 4px;
}

::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background: lighten($border-color, 5);

    &:hover {
        background: lighten($border-color, 10);
    }
}

.table-responsive::-webkit-scrollbar:horizontal {
    width: auto;
    height: 8px;
}

.app-pointer-event-none {
    pointer-events: none;
}

.app-logo {
    @media screen and (max-width: 720px) {
        width: 36px;
        width: 36px;
    }
}

.app-button {
    border: 0 none;
    background: none;
    color: #fff;
    padding: 8px 13px 8px;
    border-radius: 25px;
    border: solid 1px $border-color;
    background-image: linear-gradient(90deg, lighten($primary, 10), transparent);
    &.sm {
        padding-top: 4px;
        padding-bottom: 4px;
    }

    &:hover,
    &:focus,
    &:active {
        outline: none;
        color: #fff;
        box-shadow: 0 0 0 3px rgba($primary, 0.4);
    }

    @media screen and (max-width: 720px) {
        padding: 6px 8px 6px;
        font-size: 0.8em;
    }
}

.app-button-flat {
    padding: 4px;
    border: 0 none;
    background: none;
    color: #fff;
    border-radius: 8px;

    &.active {
        color: $border-color;
        img {
            filter: brightness(90%) sepia(100) saturate(90) hue-rotate(336deg);
        }
    }

    &:hover,
    &:focus,
    &:active {
        outline: none;
        box-shadow: 0 0 0 3px rgba($primary, 0.4);
    }
}

.app-page-title-container {
    @media screen and (min-width: 720) and (max-width: 1024px) {
        position: absolute;
        width: 60%;
        left: 40%;
        top: 0;
    }
}

.app-page-title {
    color: #fff;
    font-size: 18pt;
    @media screen and (min-width: 720) and (max-width: 1024px) {
        margin-top: 50px;
    }
}

.app-text-info {
    color: #b9953d;
}

.app-input {
    &,
    &:disabled {
        background-color: transparent;
        border: solid 1px $border-color;
        border-radius: 25px;
        color: #b9953d;
    }

    &:focus {
        background-color: transparent;
        border: solid 1px $border-color;
        box-shadow: 0 0 0px 2px rgba(#b9953d, 0.4);
        color: #b9953d;
    }

    &::placeholder {
        color: #b9953d;
    }

    &::-moz-placeholder {
        color: #b9953d;
    }

    &::-webkit-input-placeholder {
        color: #b9953d;
    }
}

/* override bootstrap paging styles*/
.app-paging {
    width: 100%;
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;

        a {
            position: relative;
            color: #fff;
            text-decoration: none;
            border-radius: 50% !important;
            transition: none;
            width: 36px;
            height: 36px;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            margin-right: 10px;
            border-color: transparent;
            background: none;

            &:focus {
                z-index: 3;
                color: #fff;
                background-color: rgba($border-color, 0.2);
                outline: 0;
                box-shadow: 0 0 0 3px rgba($border-color, 0.2);
            }
        }

        &:first-child a,
        &:last-child a {
            background-color: rgba(lighten($border-color, 5), 0.4);
            border: 1px solid $border-color;
        }

        &.selected a {
            z-index: 3;
            color: #fff;
            background-color: darken($primary, 5) !important;
            border-color: $border-color !important;
        }

        &.disabled a {
            background-color: rgba($border-color, 0.1);
            color: #000;
            pointer-events: none;
            border-color: transparent;
        }
    }

    @media screen and (max-width: 1024px) {
        & {
            display: block;
            text-align: center;
            li {
                vertical-align: middle;
                a {
                    width: 32px;
                    height: 32px;
                    margin-right: 5px;
                }
            }
        }
    }
}

/*override bootstrap dropdown menu active status*/
.dropdown-menu-dark .dropdown-item.active,
.dropdown-menu-dark .dropdown-item:active {
    background-color: darken($primary, 5);

    &:hover {
        background-color: darken($primary, 3);
    }
}

@media screen and (max-width: 1024px) {
    .dropup {
        .dropdown-toggle {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}

@media screen and (min-width: 1024px) {
    .w-lg-25 {
        max-width: 25%;
    }
}

.w-60 {
    width: 60%;
}

.w-40 {
    width: 40%;
}

.f-weight-700 {
    font-weight: 700;
}

.f-weight-500 {
    font-weight: 500;
}

.app-loading {
    height: 7px;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    background-color: $primary;
    z-index: 100;
    &:before {
        content: "";
        display: inline-block;
        width: 100px;
        height: 100%;
        background-color: lighten($primary, 10);
        filter: blur(3px);
        position: absolute;
        top: 0;
        animation: anim-move-right;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
        animation-duration: 2s;
    }
}

@keyframes anim-move-right {
    0% {
        left: -100px;
    }
    100% {
        left: calc(100vw + 100px);
    }
}


.app-table-container {
    max-height: calc(100vh - 260px);

    @media screen and (min-width: 720) and (max-width: 1024px) {
        max-height: calc(100vh - 500px);
    }

    @media screen and (max-width: 720px) {
        max-height: 100vh;
    }

    &.sticked table thead tr {
        background: #2e2204;
        th {
            &:first-child {
                border-top-left-radius: 18px;
                border-bottom-left-radius: 18px;
            }

            &:last-child {
                border-top-right-radius: 18px;
                border-bottom-right-radius: 18px;
            }
        }
    }
    table {
        border-collapse: separate;
        border-spacing: 0 10px;
        min-width: 100%;

        thead {
            tr {
                position: sticky;
                top: 0;
                z-index: 1;
                td,
                th {
                    text-align: center;
                }
            }
        }
        tbody {
            tr {
                background-image: linear-gradient(310deg, #2e2204 32%, transparent);

                td {
                    border-top: solid 1px #705618;
                    border-bottom: solid 1px #705618;
                    padding-top: 10px;
                    padding-bottom: 10px;
                    min-width: 100px;
                    text-align: center;

                    &:first-child {
                        border-left: solid 1px #705618;
                        min-width: 180px;
                        padding-left: 15px;
                        text-align: start;
                        border-top-left-radius: 18px;
                        border-bottom-left-radius: 18px;
                    }

                    &:last-child {
                        border-right: solid 1px #705618;
                        padding-right: 15px;
                        border-top-right-radius: 18px;
                        border-bottom-right-radius: 18px;
                    }

                    @media screen and (max-width: 1024px) {
                        &:first-child {
                            min-width: 180px;
                        }

                        min-width: 100px;
                    }
                }
            }
        }
    }
}



.app-table-cell {
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 18px;
    border: solid 1px #705618;
    background-image: linear-gradient(310deg, #2e2204 32%, transparent);
    height: 180px;

    ul {
        margin-left: 0;
        padding-left: 0;
    }
}
